<nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="navbar">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Sklep</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Kategorie</a>
        </li>
      </ul>
      <form class="d-flex" th:if="${isLogged}">
        <span style="padding-right: 5px" class="navbar-text" th:text="${email}"></span>
        <a href="/panel/user" class="btn btn-outline-primary my-2 my-sm-0" type="submit">Panel</a>
        <a href="/logout" class="btn btn-outline-danger my-2 my-sm-0" type="submit">Wyloguj</a>
      </form>
      <form class="d-flex" th:if="${!isLogged}">
        <span style="padding-right: 5px" class="navbar-text">Niezalogowano</span>
        <a href="/login" class="btn btn-outline-primary my-2 my-sm-0" type="submit">Zaloguj</a>
      </form>
    </div>
  </div>
</nav>
