<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head th:insert="~{fragments/header :: header}"></head>
<body>
	<div th:insert="~{fragments/navbar :: navbar}"></div>
	<div class="container mt-3">
		<p>Lista <strong>Produktów:</strong></p>
		<ul>
			<li th:each="product: ${category.getProducts()}">
				<a th:href="'/product/' + ${product.getId()}" th:text="${product.getName()}"></a>
				<span th:text="'(' + ${product.getPrice() + ' pln)'}"></span>
			</li>
		</ul>
	</div>
	<div th:insert="~{fragments/footer :: footer}"></div>
</body>
</html>
