<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head th:insert="~{fragments/header :: header}"></head>
<body>
	<div th:insert="~{fragments/navbar :: navbar}"></div>
	<div class="container mt-3">
		<p>Lista <strong>Kategorii:</strong></p>
		<ul>
			<li th:each="category: ${categories}">
				<a th:href="'/category/' + ${category.getId()}" th:text="${category.getName()}"></a>
			</li>
		</ul>
	</div>
	<div th:insert="~{fragments/footer :: footer}"></div>
</body>
</html>
