<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head th:insert="~{fragments/header :: header}"></head>
<body>
	<div th:insert="~{fragments/navbar :: navbar}"></div>
	<div class="container mt-3">
		<p>Nazwa: <strong th:text="${product.getName()}"></strong></p>
		<p>Cena: <strong th:text="${product.getPrice()}"></strong></p>
		<p>Opis: <strong th:text="${product.getDetails().getDescription()}"></strong></p>
	</div>
	<div th:insert="~{fragments/footer :: footer}"></div>
</body>
</html>
