<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head th:insert="~{fragments/header :: header}"></head>
<body>
	<div th:insert="~{fragments/navbar :: navbar}"></div>
	<div class="container mt-3">
		<p>
			Zalogowano jako: <strong th:text="${user.getFirstName() + ' ' + user.getLastName()}"></strong>
		</p>
		<p>
			Email: <strong th:text="${user.getEmail()}"></strong>
		</p>
		<p>
			Posiadane role:
			<strong th:text="${user.getRolesAsString()}"></strong>
		</p>
	</div>
	<div th:insert="~{fragments/footer :: footer}"></div>
</body>
</html>
